--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8 (Debian 16.8-1.pgdg120+1)
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'admin',
    'demo',
    'free',
    'payd',
    'premium'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: SocialProfileType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SocialProfileType" AS ENUM (
    'INSTAGRAM_ONLY',
    'LINKEDIN_ONLY',
    'BOTH',
    'NONE'
);


ALTER TYPE public."SocialProfileType" OWNER TO postgres;

--
-- Name: SourceType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SourceType" AS ENUM (
    'WEB',
    'PDF'
);


ALTER TYPE public."SourceType" OWNER TO postgres;

--
-- Name: create_page_from_ebook(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_page_from_ebook() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Sprawdzamy ten sam warunek co poprzednio

    IF NEW.final_mockup_url IS NOT NULL AND OLD.final_mockup_url IS NULL THEN

        

        -- Wstawiamy nowy wiersz do tabeli 'pages', dodaj─ůc pole 'type'

        INSERT INTO pages (

            id,

            title,

            headline,

            creator,

            status,

            type, -- <-- DODANE POLE

            "coverImage",

            "userId",

            "ebookId",

            "createdAt"

        )

        VALUES (

            gen_random_uuid(), 

            NEW.title,

            NEW.subtitle,

            NEW."authorDisplayName",

            'draft',

            'ebook', -- <-- DODANA WARTO┼Ü─ć

            NEW.final_mockup_url,

            NEW."userId",

            NEW.id,

            NOW()

        );

        

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.create_page_from_ebook() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: ebook_chapters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_chapters (
    id integer NOT NULL,
    ebook_id integer NOT NULL,
    title character varying(255) NOT NULL,
    content text,
    "position" integer NOT NULL,
    image_url character varying(1024),
    image_prompt text,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ebook_chapters OWNER TO postgres;

--
-- Name: ebook_chapters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_chapters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_chapters_id_seq OWNER TO postgres;

--
-- Name: ebook_chapters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_chapters_id_seq OWNED BY public.ebook_chapters.id;


--
-- Name: ebook_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_sources (
    id integer NOT NULL,
    ebook_id integer NOT NULL,
    user_id text NOT NULL,
    "sourceType" public."SourceType" NOT NULL,
    url character varying(1024) NOT NULL,
    title character varying(512) NOT NULL,
    content text NOT NULL,
    "sourceLabel" character varying(100),
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.ebook_sources OWNER TO postgres;

--
-- Name: ebook_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_sources_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_sources_id_seq OWNER TO postgres;

--
-- Name: ebook_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_sources_id_seq OWNED BY public.ebook_sources.id;


--
-- Name: ebooks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebooks (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    draft_url character varying(255),
    status character varying(50) DEFAULT 'draft'::character varying,
    visitors integer DEFAULT 0,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    x_amz_meta_user_id integer,
    x_amz_meta_user_cognito_sub character varying(255),
    x_amz_meta_user_first_name character varying(100),
    x_amz_meta_user_last_name character varying(100),
    x_amz_meta_user_email character varying(255),
    x_amz_meta_user_role character varying(50),
    x_amz_meta_user_status character varying(50),
    x_amz_meta_user_supervisor_code character varying(100),
    x_amz_meta_user_created_at timestamp(6) without time zone,
    x_amz_meta_user_updated_at timestamp(6) without time zone,
    category character varying(100),
    short_desc text,
    subtitle text,
    description text,
    cover_image_url text,
    cover_image_prompt text,
    "userId" text,
    ai_generation_timestamp timestamp(6) without time zone,
    image_ai_model character varying(100),
    image_ai_provider character varying(50),
    text_ai_model character varying(100),
    text_ai_provider character varying(50),
    "authorDisplayName" character varying(200),
    "authorLogoUrl" character varying(1024),
    cover_image_webp_url text,
    final_mockup_url text
);


ALTER TABLE public.ebooks OWNER TO postgres;

--
-- Name: ebooks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebooks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebooks_id_seq OWNER TO postgres;

--
-- Name: ebooks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebooks_id_seq OWNED BY public.ebooks.id;


--
-- Name: instagram_creator_ai_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.instagram_creator_ai_analysis (
    id text NOT NULL,
    "userId" text NOT NULL,
    username text NOT NULL,
    "profileDescription" text NOT NULL,
    competencies jsonb NOT NULL,
    "uniqueTalent" jsonb NOT NULL,
    metadata jsonb NOT NULL,
    "postsAnalyzed" integer NOT NULL,
    "aiModel" text DEFAULT 'claude-3-5-sonnet-20241022'::text NOT NULL,
    version text DEFAULT '2.0'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.instagram_creator_ai_analysis OWNER TO postgres;

--
-- Name: instagram_creator_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.instagram_creator_analysis (
    id text NOT NULL,
    "userId" text NOT NULL,
    username text NOT NULL,
    "postId" text NOT NULL,
    caption text NOT NULL,
    "likesCount" integer DEFAULT 0 NOT NULL,
    "commentsCount" integer DEFAULT 0 NOT NULL,
    "videoPlayCount" integer,
    "videoDuration" integer,
    "commenterUsernames" jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.instagram_creator_analysis OWNER TO postgres;

--
-- Name: instagram_profile_checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.instagram_profile_checks (
    id text NOT NULL,
    "instagramUrl" text NOT NULL,
    "instagramId" text,
    username text NOT NULL,
    "fullName" text,
    biography text,
    "followersCount" integer,
    "followsCount" integer,
    "postsCount" integer,
    "profilePicUrl" text,
    "profilePicUrlHD" text,
    "isBusinessAccount" boolean DEFAULT false NOT NULL,
    "isPrivate" boolean DEFAULT false NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    "businessCategory" text,
    "checkedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userIp" text,
    "userAgent" text,
    "highlightReelCount" integer
);


ALTER TABLE public.instagram_profile_checks OWNER TO postgres;

--
-- Name: linkedin_creator_ai_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.linkedin_creator_ai_analysis (
    id text NOT NULL,
    "userId" text NOT NULL,
    username text NOT NULL,
    "profileDescription" text NOT NULL,
    "businessCompetencies" jsonb NOT NULL,
    "expertiseNiche" jsonb NOT NULL,
    metadata jsonb NOT NULL,
    "postsAnalyzed" integer NOT NULL,
    "aiModel" text DEFAULT 'claude-3-5-sonnet-20241022'::text NOT NULL,
    version text DEFAULT '2.0-linkedin'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.linkedin_creator_ai_analysis OWNER TO postgres;

--
-- Name: linkedin_creator_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.linkedin_creator_analysis (
    id text NOT NULL,
    "userId" text NOT NULL,
    username text NOT NULL,
    "postUrn" text NOT NULL,
    "postDate" text NOT NULL,
    "postText" text NOT NULL,
    "totalReactions" integer DEFAULT 0 NOT NULL,
    "commentsCount" integer DEFAULT 0 NOT NULL,
    "commenterHeadlines" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.linkedin_creator_analysis OWNER TO postgres;

--
-- Name: linkedin_profile_checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.linkedin_profile_checks (
    id text NOT NULL,
    "linkedinUrl" text NOT NULL,
    "firstName" text,
    "lastName" text,
    "fullName" text,
    headline text,
    "aboutExcerpt" text,
    "connectionsCount" integer,
    "followersCount" integer,
    "profilePicUrl" text,
    "jobTitle" text,
    "companyName" text,
    "companyIndustry" text,
    location text,
    "topSkills" text,
    "checkedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userIp" text,
    "userAgent" text
);


ALTER TABLE public.linkedin_profile_checks OWNER TO postgres;

--
-- Name: pages_temp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pages_temp (
    id character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    headline text,
    creator character varying(255),
    visits integer DEFAULT 0,
    leads integer DEFAULT 0,
    type character varying(50),
    status character varying(50) NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now(),
    url character varying(255),
    draft_url character varying(255),
    "coverImage" character varying(255),
    x_amz_meta_title character varying(255),
    "userId" character varying(255),
    "ebookId" integer
);


ALTER TABLE public.pages_temp OWNER TO postgres;

--
-- Name: user_api_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_api_keys (
    id text NOT NULL,
    "userId" text NOT NULL,
    provider text NOT NULL,
    "encryptedKey" text NOT NULL,
    "keyHash" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.user_api_keys OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    phone text,
    "socialLink" text,
    password text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "verificationToken" text,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    "profilePicture" text,
    "instagramProfileId" text,
    "linkedinProfileId" text,
    "socialProfileType" public."SocialProfileType" DEFAULT 'NONE'::public."SocialProfileType" NOT NULL,
    "instagramUsername" text,
    "authorDisplayName" text,
    "authorLogoUrl" text,
    "imageAiModel" text DEFAULT 'dall-e-3'::text,
    "imageAiProvider" text DEFAULT 'openai'::text,
    "textAiModel" text DEFAULT 'claude-3-haiku'::text,
    "textAiProvider" text DEFAULT 'anthropic'::text,
    role public."Role" DEFAULT 'free'::public."Role" NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: ebook_chapters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_chapters ALTER COLUMN id SET DEFAULT nextval('public.ebook_chapters_id_seq'::regclass);


--
-- Name: ebook_sources id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_sources ALTER COLUMN id SET DEFAULT nextval('public.ebook_sources_id_seq'::regclass);


--
-- Name: ebooks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebooks ALTER COLUMN id SET DEFAULT nextval('public.ebooks_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ebook_chapters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ebook_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ebooks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: instagram_creator_ai_analysis; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: instagram_creator_analysis; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: instagram_profile_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: linkedin_creator_ai_analysis; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: linkedin_creator_analysis; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: linkedin_profile_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pages_temp; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_api_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ebook_chapters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_chapters_id_seq', 1090, true);


--
-- Name: ebook_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_sources_id_seq', 51, true);


--
-- Name: ebooks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebooks_id_seq', 207, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ebook_chapters ebook_chapters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_chapters
    ADD CONSTRAINT ebook_chapters_pkey PRIMARY KEY (id);


--
-- Name: ebook_sources ebook_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_sources
    ADD CONSTRAINT ebook_sources_pkey PRIMARY KEY (id);


--
-- Name: ebooks ebooks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebooks
    ADD CONSTRAINT ebooks_pkey PRIMARY KEY (id);


--
-- Name: instagram_creator_ai_analysis instagram_creator_ai_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_creator_ai_analysis
    ADD CONSTRAINT instagram_creator_ai_analysis_pkey PRIMARY KEY (id);


--
-- Name: instagram_creator_analysis instagram_creator_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_creator_analysis
    ADD CONSTRAINT instagram_creator_analysis_pkey PRIMARY KEY (id);


--
-- Name: instagram_profile_checks instagram_profile_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_profile_checks
    ADD CONSTRAINT instagram_profile_checks_pkey PRIMARY KEY (id);


--
-- Name: linkedin_creator_ai_analysis linkedin_creator_ai_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.linkedin_creator_ai_analysis
    ADD CONSTRAINT linkedin_creator_ai_analysis_pkey PRIMARY KEY (id);


--
-- Name: linkedin_creator_analysis linkedin_creator_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.linkedin_creator_analysis
    ADD CONSTRAINT linkedin_creator_analysis_pkey PRIMARY KEY (id);


--
-- Name: linkedin_profile_checks linkedin_profile_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.linkedin_profile_checks
    ADD CONSTRAINT linkedin_profile_checks_pkey PRIMARY KEY (id);


--
-- Name: pages_temp pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages_temp
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- Name: user_api_keys user_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT user_api_keys_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ebook_sources_ebook_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ebook_sources_ebook_id_idx ON public.ebook_sources USING btree (ebook_id);


--
-- Name: ebook_sources_ebook_id_url_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ebook_sources_ebook_id_url_key ON public.ebook_sources USING btree (ebook_id, url);


--
-- Name: ebook_sources_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ebook_sources_user_id_idx ON public.ebook_sources USING btree (user_id);


--
-- Name: ebooks_draft_url_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ebooks_draft_url_key ON public.ebooks USING btree (draft_url);


--
-- Name: idx_ebook_chapters_ebook_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ebook_chapters_ebook_id ON public.ebook_chapters USING btree (ebook_id);


--
-- Name: idx_ebook_chapters_position; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ebook_chapters_position ON public.ebook_chapters USING btree (ebook_id, "position");


--
-- Name: idx_ebooks_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ebooks_user_id ON public.ebooks USING btree (x_amz_meta_user_id);


--
-- Name: instagram_creator_ai_analysis_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "instagram_creator_ai_analysis_userId_idx" ON public.instagram_creator_ai_analysis USING btree ("userId");


--
-- Name: instagram_creator_ai_analysis_userId_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "instagram_creator_ai_analysis_userId_username_idx" ON public.instagram_creator_ai_analysis USING btree ("userId", username);


--
-- Name: instagram_creator_ai_analysis_userId_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "instagram_creator_ai_analysis_userId_username_key" ON public.instagram_creator_ai_analysis USING btree ("userId", username);


--
-- Name: instagram_creator_ai_analysis_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX instagram_creator_ai_analysis_username_idx ON public.instagram_creator_ai_analysis USING btree (username);


--
-- Name: instagram_creator_analysis_postId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "instagram_creator_analysis_postId_idx" ON public.instagram_creator_analysis USING btree ("postId");


--
-- Name: instagram_creator_analysis_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "instagram_creator_analysis_userId_idx" ON public.instagram_creator_analysis USING btree ("userId");


--
-- Name: instagram_creator_analysis_userId_postId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "instagram_creator_analysis_userId_postId_key" ON public.instagram_creator_analysis USING btree ("userId", "postId");


--
-- Name: instagram_creator_analysis_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX instagram_creator_analysis_username_idx ON public.instagram_creator_analysis USING btree (username);


--
-- Name: linkedin_creator_ai_analysis_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "linkedin_creator_ai_analysis_userId_idx" ON public.linkedin_creator_ai_analysis USING btree ("userId");


--
-- Name: linkedin_creator_ai_analysis_userId_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "linkedin_creator_ai_analysis_userId_username_idx" ON public.linkedin_creator_ai_analysis USING btree ("userId", username);


--
-- Name: linkedin_creator_ai_analysis_userId_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "linkedin_creator_ai_analysis_userId_username_key" ON public.linkedin_creator_ai_analysis USING btree ("userId", username);


--
-- Name: linkedin_creator_ai_analysis_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX linkedin_creator_ai_analysis_username_idx ON public.linkedin_creator_ai_analysis USING btree (username);


--
-- Name: linkedin_creator_analysis_postUrn_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "linkedin_creator_analysis_postUrn_idx" ON public.linkedin_creator_analysis USING btree ("postUrn");


--
-- Name: linkedin_creator_analysis_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "linkedin_creator_analysis_userId_idx" ON public.linkedin_creator_analysis USING btree ("userId");


--
-- Name: linkedin_creator_analysis_userId_postUrn_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "linkedin_creator_analysis_userId_postUrn_key" ON public.linkedin_creator_analysis USING btree ("userId", "postUrn");


--
-- Name: linkedin_creator_analysis_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX linkedin_creator_analysis_username_idx ON public.linkedin_creator_analysis USING btree (username);


--
-- Name: user_api_keys_provider_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_api_keys_provider_idx ON public.user_api_keys USING btree (provider);


--
-- Name: user_api_keys_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "user_api_keys_userId_idx" ON public.user_api_keys USING btree ("userId");


--
-- Name: user_api_keys_userId_provider_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_api_keys_userId_provider_key" ON public.user_api_keys USING btree ("userId", provider);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: ebooks trigger_create_page_on_mockup_update; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_create_page_on_mockup_update AFTER UPDATE ON public.ebooks FOR EACH ROW EXECUTE FUNCTION public.create_page_from_ebook();


--
-- Name: ebook_chapters ebook_chapters_ebook_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_chapters
    ADD CONSTRAINT ebook_chapters_ebook_id_fkey FOREIGN KEY (ebook_id) REFERENCES public.ebooks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ebook_sources ebook_sources_ebook_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_sources
    ADD CONSTRAINT ebook_sources_ebook_id_fkey FOREIGN KEY (ebook_id) REFERENCES public.ebooks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ebook_sources ebook_sources_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_sources
    ADD CONSTRAINT ebook_sources_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ebooks ebooks_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebooks
    ADD CONSTRAINT "ebooks_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pages_temp fk_ebook; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages_temp
    ADD CONSTRAINT fk_ebook FOREIGN KEY ("ebookId") REFERENCES public.ebooks(id) ON DELETE CASCADE;


--
-- Name: pages_temp fk_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages_temp
    ADD CONSTRAINT fk_user FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: instagram_creator_ai_analysis instagram_creator_ai_analysis_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_creator_ai_analysis
    ADD CONSTRAINT "instagram_creator_ai_analysis_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: instagram_creator_analysis instagram_creator_analysis_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instagram_creator_analysis
    ADD CONSTRAINT "instagram_creator_analysis_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: linkedin_creator_ai_analysis linkedin_creator_ai_analysis_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.linkedin_creator_ai_analysis
    ADD CONSTRAINT "linkedin_creator_ai_analysis_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: linkedin_creator_analysis linkedin_creator_analysis_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.linkedin_creator_analysis
    ADD CONSTRAINT "linkedin_creator_analysis_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_api_keys user_api_keys_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT "user_api_keys_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_instagramProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_instagramProfileId_fkey" FOREIGN KEY ("instagramProfileId") REFERENCES public.instagram_profile_checks(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_linkedinProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_linkedinProfileId_fkey" FOREIGN KEY ("linkedinProfileId") REFERENCES public.linkedin_profile_checks(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

